.Message {
  display: flex;
  align-items: center;
}

.Message > img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  border-radius: 100%;
}

.Message-info {
  padding-left: 10px;
}

.Message-timestamp {
  color: gray;
  font-weight: 300;
  font-size: 13px;
}

.Message-messageAndButtons {
  display: flex;
  width: 100vh;
  justify-content: space-between;
}

.Message-updateMessage {
  width: 60vw;
}

.Message-updateMessage > input {
  padding: 5px 0;
  border: 1px solid gray;
  border-radius: 8px;
  width: 100%;
}
